.login {
  overflow: auto;
  h1 {
    text-align: center;
    margin-top: 3rem;
    color: white;
    font-size: 3rem;
  }
  .card-cont {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
  }
  .input-field {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
  }
  .action-button {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
  }
  .not-registered {
    text-align: center;
    margin-top: 2rem;
  }
  .my-card {
    width: 40rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 15px 0 rgba(50, 50, 50, 0.75);
    padding: 2rem;
  }
  .card-cont {
    display: flex;
    justify-content: center;
  }
}