.card-details-popup {
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    div {
      font-size: 1.75rem;
      margin-top: -1rem;
      margin-right: -0.5rem;
      cursor: pointer;
    }
    div:hover {
      color: #0e7d32;
    }
  }
  .text-content {
    padding: 0.5rem 0;
    font-style: italic;
  }
  .assigned-to {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #CECECE;
    border-radius: 4px;
    width: fit-content;
    .user-circle {
      margin-right: 0.5rem;
    }
  }
}